@import url("navbar.css");
@import url("load.css");
@import url("progressbar.css");
body {
  background: #0e153a;
  margin: 0;
}

.montserrat {
  font-family: "Montserrat";
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3d5af1;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e2f3f5;
}
