$background: #0e153a;
$mainColor: #3d5af1;

.spinner-wrapper {
  background: $background;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  z-index: 101;
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, $mainColor);
  animation: animate 0.2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(0deg);
  }
}

.spinner {

  &:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: $background;
    border-radius: 50%;
    z-index: 102;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent, transparent 40%, $mainColor);
    border-radius: 50%;
    z-index: 1;
    filter: blur(30px);
  }
  
}
