@media (max-width: 700px) {
  /* Body */
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 50vh;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .img {
    margin: auto;
    width: 300px;
  }
  .vertical-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    padding: 20px;
  }
  .vertical-container .btn {
    display: block;
    margin: 10px auto 10px auto;
  }
  .input {
    text-align: center;
  }
  .input:focus::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0);
  }
  .input:focus:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0);
  }
  .input:focus::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0);
  }
  .input:focus::placeholder {
    color: rgba(0, 0, 0, 0);
  }
  .input::-webkit-input-placeholder {
    color: #e2f3f5;
    text-align: center;
  }
  .input:-ms-input-placeholder {
    color: #e2f3f5;
    text-align: center;
  }
  .input::-ms-input-placeholder {
    color: #e2f3f5;
    text-align: center;
  }
  .input::placeholder {
    color: #e2f3f5;
    text-align: center;
  }
  .btn {
    width: 400px;
    height: 50px;
    font-size: 30px;
    font-family: "Montserrat";
    border: none;
    border-radius: 5px;
    outline: none;
  }
  .bg-color1 {
    background: #3d5af1;
    color: #e2f3f5;
  }
  .bg-color2 {
    background: #e2f3f5;
    color: #3d5af1;
  }
  .bg-color2:hover {
    cursor: pointer;
  }
}

@media (min-width: 700px) {
  /* Body */
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 50vh;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .img {
    margin: auto;
  }
  .vertical-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    padding: 20px;
  }
  .vertical-container .btn {
    display: block;
    margin: 10px auto 10px auto;
  }
  .input {
    text-align: center;
  }
  .input:focus::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0);
  }
  .input:focus:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0);
  }
  .input:focus::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0);
  }
  .input:focus::placeholder {
    color: rgba(0, 0, 0, 0);
  }
  .input::-webkit-input-placeholder {
    color: #e2f3f5;
    text-align: center;
  }
  .input:-ms-input-placeholder {
    color: #e2f3f5;
    text-align: center;
  }
  .input::-ms-input-placeholder {
    color: #e2f3f5;
    text-align: center;
  }
  .input::placeholder {
    color: #e2f3f5;
    text-align: center;
  }
  .btn {
    width: 600px;
    height: 50px;
    font-size: 30px;
    font-family: "Montserrat";
    border: none;
    border-radius: 5px;
    outline: none;
  }
  .bg-color1 {
    background: #3d5af1;
    color: #e2f3f5;
  }
  .bg-color2 {
    background: #e2f3f5;
    color: #3d5af1;
  }
  .bg-color2:hover {
    cursor: pointer;
  }
}
/*# sourceMappingURL=login.css.map */