$searchBackground: #e2f3f5;
$searchPlaceholder: black;
$dropdownBackground: #a0bbff;
$itemBackground: #2c43b6;
$itemForeground: white;

.dropdown-container {
  z-index: 5;
}

.search-search {
  height: auto;
  border: none;
  background: rgba(0, 0, 0, 0);
  width: 85%;
  outline: none;
  font-size: 30px;
  padding-left: 20px;
  &::placeholder {
    color: $searchPlaceholder;
  }
}

.search-container {
  display: flex;
  background: $searchBackground;
  align-items: center;
  height: 60px;
  &:hover {
    cursor: pointer;
  }
}

.search-icon {
  margin-right: 10px;
  &:hover {
    cursor: pointer;
  }
}

.searchby-icon {
  transition: transform 0.2s ease-in-out;
}

.search-order-container:hover {
  .searchby-icon {
    transform: rotate(-180deg);
  }
}

@media (max-width: 1591px) {
  .search-order-container {
    display: flex;
    background: $dropdownBackground;
    align-items: center;
    padding-right: 40px;
    height: 60px;
    width: 20%;
    span {
      font-family: "Montserrat";
      font-size: 25px;
    }
  }
}

@media (min-width: 1591px) {
  .search-order-container {
    display: flex;
    background: $dropdownBackground;
    align-items: center;
    padding-right: 40px;
    height: 60px;
    width: 20%;
    span {
      font-family: "Montserrat";
      font-size: 30px;
    }
  }
}

/*--- Dropdown ---*/
/* Container */
@media (min-width: 1591px) {
  .dropdown-container {
    background: $dropdownBackground;
    right: 0;
    top: 129px;
    width: 20%;
    position: absolute;
    display: none;
  }

  /* Item */
  .dropdown-item {
    list-style-type: none;
    color: black;
    font-family: "Montserrat";
    font-size: 30px;
    padding-left: 10%;
    &:hover {
      cursor: pointer;
      background: $itemBackground;
      color: $itemForeground;
    }
  }
}

@media (max-width: 1591px) {
  .dropdown-container {
    background: $dropdownBackground;
    right: 0;
    top: 129px;
    width: 20%;
    position: absolute;
    display: none;
  }

  /* Item */
  .dropdown-item {
    list-style-type: none;
    color: black;
    font-family: "Montserrat";
    font-size: 25px;
    padding-left: 10%;
    &:hover {
      cursor: pointer;
      background: $itemBackground;
      color: $itemForeground;
    }
  }
}

@media (max-width: 1335px) {
  .dropdown-container {
    top: 192px;
  }
}

@media (max-width: 1105px) {
  .dropdown-container {
    background: $dropdownBackground;
    right: 0;
    top: 198px;
    width: 20%;
    position: absolute;
    display: none;
  }

  /* Item */
  .dropdown-item {
    list-style-type: none;
    color: black;
    font-family: "Montserrat";
    font-size: 25px;
    padding-left: 10%;
    &:hover {
      cursor: pointer;
      background: $itemBackground;
      color: $itemForeground;
    }
  }
}

@media (max-width: 669px) {
  .dropdown-container {
    background: $dropdownBackground;
    right: 0;
    top: 261px;
    width: 25%;
    position: absolute;
    display: none;
  }

  /* Item */
  .dropdown-item {
    list-style-type: none;
    color: black;
    font-family: "Montserrat";
    font-size: 25px;
    padding-left: 10%;
    &:hover {
      cursor: pointer;
      background: $itemBackground;
      color: $itemForeground;
    }
  }
}

@media (max-width: 562px) {
  .dropdown-container {
    background: $dropdownBackground;
    right: 0;
    top: 336px;
    width: 30%;
    position: absolute;
    display: none;
  }

  .searchby-text {
    display: none;
  }

  /* Item */
  .dropdown-item {
    list-style-type: none;
    color: black;
    font-family: "Montserrat";
    font-size: 25px;
    padding-left: 10%;
    &:hover {
      cursor: pointer;
      background: $itemBackground;
      color: $itemForeground;
    }
  }
}

@media (max-width: 426px) {
  .dropdown-container {
    top: 398px;
  }
}

@media (max-width: 366px) {
  .dropdown-container {
    top: 405px;
  }
}

@media (max-width: 347px) {
  .dropdown-container {
    top: 454px;
  }
}

.search-order-container:hover ~ .dropdown-container {
  display: block;
}

.dropdown-container:hover {
  display: block;
}

/* List */
.dropdown-list {
  padding: 0;
  margin: 0;
}
